<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="MNotifyConfigurationSection"
             type="MNotifyHelperDotNet.Helpers.ConfSection.MNotifyConfigurationSection,MNotifyHelperDotNet" />
  </configSections>

  <MNotifyConfigurationSection>
    <RemoteMNotifyOptions>
      <option key="ServiceClientAddress" value="" />
      <option key="ServiceCertificatePath" value="" />
      <option key="ServiceCertificatePassword" value="" />
    </RemoteMNotifyOptions>
  </MNotifyConfigurationSection>

</configuration>